<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<div class="fluid-container" th:fragment="navi(activeTab)">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary ">
        <a class="navbar-brand" th:href="@{/}">Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" th:classappend="${activeTab == 'Home' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/}">Главная страница<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'Shop' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/shop}">Каталог товаров<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" th:classappend="${activeTab == 'Info' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/info}">Информация<span class="sr-only">(current)</span></a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item"
                    th:classappend="${activeTab == 'Products' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/product/edit/0}">Добавить товар</a>
                </li>
                <li class="nav-item"
                    th:classappend="${activeTab == 'Cart' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{/shop/cart}">Корзина</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/logout}" method="POST">
                        <input type="submit" class="btn btn-danger" value="Logout"/>
                    </form>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <form class="align-middle" th:action="@{/authenticateTheUser}" method="POST">
                        <div class="input-group-prepend">
                            <input class="form-control" type="text" placeholder="Логин" name="username"
                                   aria-describedby="inputGroup-sizing-sm">
                            <input class="form-control" type="text" placeholder="Пароль" name="password"
                                   aria-describedby="inputGroup-sizing-sm">
                            <button class="btn btn-secondary btn-sm" type="submit">Войти</button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <div class="visible-md" style="height:80px;"></div>
</div>

</body>
</html>